/* styles in src/style directory are applied to the whole page */
body {
  background: #0147A7;
  color: #fff;
}

a {
  color: #03A9F4;
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

.container-tb-margin {
  margin-top: 30px;
  margin-bottom: 30px;
}

footer {
  text-align: center;
  font-size: 0.9em;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-top: 30px;
}

