<div class="container">

    <div class="row">
        <div class="alert alert-success text-center text-danger">
            <strong>De winnende tombolanummers zijn bekend. Prijzen kunnen worden afgehaald op de muziekschool.</strong>
            <br><br>
            <button type="button" class="btn btn-success" ng-click="HomeCtrl.goToNumbers()">Ga naar winnende tombola-nummers</button>
        </div>
    </div>

    <div class="row">
        <div class="box ">
            <div class="col-lg-12 text-center dark-bg" >
                <img class="img-responsive img-center" ng-src="/img/logo/D-day_wit.png" alt="" >
            </div>
        </div>
    </div>

    <title-box title="D-Day 2.0 bestaat uit &mldr;">
        <div class="container-fluid">
            <div class="row">
                <box-column title="Drum party" date="zaterdag 18 februari">
                    <p>Drum party waarbij slagwerk-leerlingen van de muziekacademie hun favoriete nummer mee-drummen. Nadien is er nog een <em>after-drumparty</em>.</p>
                </box-column>
                <box-column title="After Drum Party" date="zaterdag 18 februari">
                    <p>Iedereen welkom op de after-drumparty!</p>
                </box-column>
            </div>
            <div class="row">
                <box-column title="Drum Clinics" date="zondag 19 februari">
                    <p>Clinics van topdrummers <strong>Jordi Geuens</strong>, <strong>Michael Schack</strong> en <strong>Bram Raeymaekers</strong></p>
                </box-column>
                <box-column title="Doorlopend workshops" date="zondag 19 februari">
                    <p>Maak van dichtbij kennis met slagwerk tijdens de doorlopende workshops & initiaties: <strong>Exotische percussie</strong>, <strong>initiatie drums</strong>, <strong>samples & loops</strong>, &mldr;</p>
                </box-column>
            </div>
            <div class="row">
                <box-column title="Slotconcert" date="zondag 19 februari">
                    <p>Slotconcert met meer dan 50 leerlingen en oud-leerlingen</p>
                </box-column>
            </div>
        </div>

        <div class="col-xs-12 text-center mar30t">
            <p class="mar20b">De toegang is volledig <strong>gratis</strong>!</p>
            <a ui-sref="index.line-up" type="button" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-th-list"></span> Ga naar programma</a>
        </div>
    </title-box>

    <box title="Steunkaarten & Tombola" image-src="/img/filler/steunkaart_specimen.JPG">
        <p>Steunkaarten zijn te koop vanaf 9 januari. Deze steunkaarten doen ook dienst als <strong>tombola ticket</strong>, dus bewaar ze goed en neem ze zeker mee naar D-Day!</p>
    </box>

    <title-box title="Winnende tombola tickets" id="winning-numbers">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <strong>Dit zijn de winnende tombolanummers. Prijzen kunnen worden afgehaald op de muziekschool.</strong>
                </div>
            </div>
            <div class="row text-center mar20t">
                <div class="col-xs-12 col-sm-4 col-md-3" ng-repeat="ticket in HomeCtrl.tombolatickets">
                    {{ticket}}
                </div>
            </div>
        </div>
    </title-box>

</div>
