<footer class="dd-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 mar20b">
                <h3>Sponsors</h3>
                <p>
                    <sponsor-carousel></sponsor-carousel>
                </p>

            </div>
            <div class="col-md-6 col-sm-12 mar20b">
                <h3>Contact</h3>
                <p>
                    <span style="color:white;" class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;<a href="mailto:dday19022017@gmail.com">E-mail</a>
                </p>
                <p>
                    <i class="fa fa-facebook-square fa-invert-color"></i>&nbsp;&nbsp;<a href="https://www.facebook.com/events/1287784611279159/ " target="_blank">Facebook</a>
                </p>

            </div>
        </div>
    </div>

</footer>

