<footer class="dd-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 mar20b">
                <h3>Sponsors</h3>
                <p>
                    <sponsor-carousel></sponsor-carousel>
                </p>

            </div>
            <div class="col-md-6 col-sm-12 mar20b">
                <h3>Contact</h3>
                <p>
                    <span style="color:white;" class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;<a href="mailto:dday19022017@gmail.com">dday19022017@gmail.com</a>
                </p>

            </div>
        </div>
    </div>

</footer>

