<div class="container">

    <box title="Wie zijn wij?" image-src="/img/muziekschool/devonk.png" is-odd="T">
        <p>Wij zijn een groep leerlingen, oud-leerlingen en leerkrachten van de slagwerkklas van de gemeentelijke muziekacademie van Oud-Heverlee (<a href="http://www.academiedevonk.be/">academie De Vonk</a>).</p>
        <p>Naar aanleiding van het 25-jarig bestaan van de slagwerkklas organiseren wij voor de tweede keer een <strong>D(rum)-Day</strong> met de steun van De Vriendenkring en academie De Vonk.</p>
    </box>

    <title-box title="De slagwerkklas, 25 jaar" image-src="" >
        <div class="container-fluid">
            <div class="row mar40t">
                <div class="col-lg-12">
                    <img ng-src="/img/muziekschool/kulturama.JPG"
                         alt="{{EventDetailCtrl.eventName}}"
                         class="img-responsive  img-thumbnail img-left img-max-height">
                    <hr class="visible-xs">
                    <p ng-repeat="p in AboutCtrl.historiek.paragraphs" ng-bind-html="p"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="vertical-timeline" class="vertical-container dark-timeline center-orientation">
                        <div class="vertical-timeline-block" ng-repeat="e in AboutCtrl.historiek.tabledata">
                            <div class="vertical-timeline-icon navy-bg">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <p ng-repeat="p in e.event" ng-bind-html="p"></p>
                                </p>
                                <span class="vertical-date dd-date-color">
                                    {{e.date}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="table-responsive mar20t">-->
                <!--<table class="table">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>Datum</th>-->
                        <!--<th>Event</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr ng-repeat="e in AboutCtrl.historiek.tabledata">-->
                        <!--<td>{{e.date}}</td>-->
                        <!--<td><p ng-repeat="p in e.event" ng-bind-html="p"></p></td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
            <div class="row mar40t">
                <div class="col-lg-12">
                    <p ng-repeat="p in AboutCtrl.historiek.paragraphs2" ng-bind-html="p"></p>
                </div>
            </div>
        </div>
    </title-box>

    <title-box title="Met dank aan onze sponsors">
            <div class="col-sm-6 col-md-4 col-lg-4 col-xs-12 img-container-dd" ng-repeat="sponsor in AboutCtrl.sponsors">
                <a class="" href="{{sponsor.url}}" target="_blank">
                    <span class="img-helper"></span>
                    <img class="img-responsive img-center img-max-height img-thumbnail" ng-src="{{sponsor.image}}" alt="{{sponsor.name}}">
                </a>
            </div>
    </title-box>

    <title-box title="Met dank aan onze sympathisanten">
        <div class="col-xs-12 text-center" ng-repeat="supporter in AboutCtrl.supporters">
            <div>
                <h4>{{supporter.name}}
                    <span class="small">{{supporter.text}}</span>
                </h4>
            </div>
        </div>
    </title-box>

</div>