<div class="container">

    <box title="Wie zijn wij?" image-src="/img/muziekschool/devonk.png">
        <p>Wij zijn een groep leerlingen, oud-leerlingen en leerkrachten van de slagwerkklas van de gemeentelijke muziekacademie van Oud-Heverlee (<a href="http://www.academiedevonk.be/">academie De Vonk</a>).</p>
        <p>Naar aanleiding van het 25-jarig bestaan van de slagwerkklas organiseren wij voor de tweede keer een <strong>D(rum)-Day</strong> met de steun van De Vriendenkring en academie De Vonk.</p>
    </box>

    <box title="De slagwerkklas, 25 jaar" image-src="/img/muziekschool/kulturama.jpg" is-odd="T">
        <p>Leerkrachten: Guy Remmerie, Tom Pipeleers, Pieter Mellaerts.</p>
        <p>Meer dan 200 leerlingen en oud-leerlingen (Historiek van 25 jaar drumklas nog in opbouw)</p>
    </box>

    <title-box title="Met dank aan onze sponsors">
            <div class="col-sm-6 col-md-4 col-lg-4 col-xs-12 img-container-dd" ng-repeat="sponsor in AboutCtrl.sponsors">
                <a class="" href="{{sponsor.url}}" target="_blank">
                    <span class="img-helper"></span>
                    <img class="img-responsive img-center img-max-height img-thumbnail" ng-src="{{sponsor.image}}" alt="{{sponsor.name}}">
                </a>
            </div>
    </title-box>

    <title-box title="Met dank aan onze sympathisanten">
        <div class="col-xs-12 text-center" ng-repeat="supporter in AboutCtrl.supporters">
            <div>
                <h4>{{supporter.name}}
                    <span class="small">{{supporter.text}}</span>
                </h4>
            </div>
        </div>
    </title-box>

</div>