//body {
//  background: url('../../../public/img/background/bg2.jpg') no-repeat center center fixed;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  background-size: cover;
//  -o-background-size: cover;
//}

body {
  background: url('../../../public/img/background/escheresque_ste.png') repeat top left;
  background-attachment: fixed;
  // background-size: auto, cover;
  background-size: 46px 29px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  body {
    background: url('../../../public/img/background/escheresque_ste_@2X.png') repeat top left;
    background-attachment: fixed;
    background-size: 46px 29px;
  }
}