
.img-center {
  margin: 0 auto;
}
.box-grid-element {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.img-max-height {
  max-height: 300px;
}
.img-max-width {
  max-width: 400px;
}
.img-m10b {
  margin-bottom: 10px;
}

.img-container-dd {
  // border: 1px solid red;
  white-space: nowrap;
  text-align: center;
  margin: 0.5em 0;

  img {
    //background: #3A6F9A;
    vertical-align: middle;
    max-height: 300px;
  }
}

@media (min-width: 768px) {
  .img-container-dd {
    height: 300px; /* equals max image height */
  }
}

.img-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.fa-invert-color {
  color: white;
}