
.img-center {
  margin: 0 auto;
}
.box-grid-element {
  padding: 0.5em;
}
.img-max-height {
  max-height: 300px;
}
.img-container-dd {
  height: 300px; /* equals max image height */
  // border: 1px solid red;
  white-space: nowrap;


  text-align: center;
  margin: 0.5em 0;

  img {
    //background: #3A6F9A;
    vertical-align: middle;
    max-height: 300px;
  }
}

.img-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}