@font-face {
  font-family: "BebasNeue";
  src: url("../../../public/fonts/BebasNeue Regular.ttf") format('truetype'),
       url("../../../public/fonts/BebasNeue Regular.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue Bold";
  src: url("../../../public/fonts/BebasNeue Bold.ttf") format('truetype'),
       url("../../../public/fonts/BebasNeue Bold.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}