$pkp-dark: #004761;
$pkp-dark-text: #fff;

$pkp-dark-light: #00647e;
$pkp-dark-light-select: #cfdc28;

$pkp-light: #5AC3BE;
$pkp-dark-light-text: #5AC3BE;
$pkp-dark-light-text-dark: #004761;

$bg-zaal: #349663;
$bg-bureel-2: #d98d4e;
$bg-jeugdhuis: darken(#cf1727, 10);
$bg-bosmuseum: #9bb5cb;
$bg-inkomhal: #683750;